root = true

# need to restart intellij for changes to take effect

[*]
insert_final_newline = true

[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_standard = enabled # all rules from the `standard` rule set provided by KtLint
ktlint_standard_class-signature = disabled # NO! we want them to be on the same line
ktlint_experimental = enabled # all `experimental` rules from all rule sets provided by KtLint or other rule providers
ktlint_custom-rule-set = disabled # all rules in the `custom-rule-set` rule set (not provided by KtLint)

ktlint_standard_annotation = disabled # 2+ annotations allowed to be on same line
ktlint_standard_comment-spacing = enabled # //_space
ktlint_standard_filename = disabled # snakeCasing file names is ok; no enforcing PascalCase
ktlint_standard_final-newline = enabled # newline at end of file
ktlint_standard_function-signature = disabled # allow method direct assignment body expression
ktlint_standard_multiline-expression-wrapping = disabled # allow method signature with direct method body expression
ktlint_standard_no-consecutive-blank-lines = enabled # TODO not sure about this one...k
ktlint_standard_no-empty-first-line-in-class-body = disabled # after type signature, allow blank line (let me breathe!)
ktlint_standard_trailing-comma-on-declaration-site = disabled # last parameter ending with ","

ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
#  Disable wildcard imports entirely
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
ij_kotlin_packages_to_use_import_on_demand = unset
ij_kotlin_allow_trailing_comma = false

# [api/*.{kt,kts}]
# ktlint_standard_indent = disabled
