<div class="container">
  <h1 class="mat-headline-1">Hello Christoph</h1>
  <mat-card>
    <mat-card-title>Welcome to the Diamond Client SDK Demo Webapp</mat-card-title>
    <mat-card-content>
      <p>
        This is a simple Angular web application demonstrating the integration of the Diamond Client
        SDK.
      </p>
      <p><strong>Sample User from Diamond SDK:</strong></p>
      <pre>{{ sampleUser | json }}</pre>
      <p>Use the button below to navigate to a different route and see routing in action.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" routerLink="/found">Find the route!</button>
    </mat-card-actions>
  </mat-card>
</div>
