package {{modelPackage}}

{{#imports}}import {{import}}
{{/imports}}
{{#models}}
{{#model}}
{{#isEnum}}{{>model/enum_class}}{{/isEnum}}{{^isEnum}}{{>model/data_class}}{{/isEnum}}
{{/model}}
{{/models}}
